* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: url('./asets/image2.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-container, .details-container, .update-container, .delete-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.home-box, .details-box, .update-box, .delete-box {
    /* background-color: rgba(255, 255, 255, 0.9); */
     /* Transparent background */
    padding: 40px;
    border-radius: 10px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    width: 400px;
    text-align: center;
}

.details-box{
	color : #ffffff;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #555;
    margin-bottom: 30px;
}

.home-options {
    display: flex;
    flex-direction: column;
}

.home-link {
    display: block;
    margin: 10px 0;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.home-link:hover {
    background-color: #0056b3;
}

.update-input-group, .delete-button {
    margin-bottom: 20px;
}

.update-input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.update-input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.update-input-group input:focus {
    border-color: #007bff;
    outline: none;
}

.update-button, .delete-button {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.update-button:hover, .delete-button:hover {
    background-color: #0056b3;
}
